* {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  text-decoration: none;
  margin-left: 20px;
}

a:hover {
  color: rgb(143, 234, 255);
}

body {
  background-color: #f0f0f0;
}

form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.top-tab {
  margin-top: 0;
  margin-bottom: 0;
  height: 3.5rem;
  background-color: #552b81;
}

h3.top {
  color: white;
  position: absolute;
  position: top;
  top: 0;
  margin-top: 15px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  justify-content: center;
}

label {
  padding-left: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

label.label-notes {
  margin-top: 15px;
}

input,
textarea {
  padding: 5px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 25px;
}

input.input-submit {
  width: 75px;
  padding: 7px 10px;
  color: white;
  background-color: #552b81;
  border: none;
  border-radius: 0.2rem;
}

.justify-end {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 40px;
}

.new,
.entries {
  margin-top: 20px;
}

h1,
button {
  display: inline;
}

button {
  color: white;
  background-color: #552b81;
  border-radius: 0.2rem;
  font-size: 25px;
  padding: 5px 20px;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.no-entries {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 7rem;
  font-weight: 100;
  color: gray;
}

img {
  object-fit: contain;
}

.text-box {
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  overflow: scroll;
}
